.main {
    color: #222;
    font-weight: bold;
    font-style: oblique;
}

.section {
     margin-top: 100px;
     width: 100%;
    }

.main h1 {
    text-align: center;
    color: #222;
    font-style: oblique;
    font-weight: 800;
    text-decoration: none;
    font-size: 34px;
}