.main {
    height: 100vh;
    font-style: oblique;
    text-align: center;
    height: 116px;
}

.main h1 {
    text-align: center;
    color: #222;
    font-style: oblique;
    font-weight: 800;
    text-decoration: none;
    font-size: 34px;
}

.cardsFeminina {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0.1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 25px;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardsFeminina  img{
    width: 350px;
    height: 350px;
    margin-top: 10px;
}

.card {
    width: 30%;
    text-align: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px 2px;
    border-radius: 0.9rem;
    margin-top: 30px;
}