.cabecalho h1 {
    text-align: center;
    color: #222;
    font-style: oblique;
    font-weight: 800;
    text-decoration: none;
    font-size: 34px;
    margin-bottom: 55px;
}

.cabecalho h2 {
    display: flex;
    background-image: url(/bg-titulo.png);
    padding: 5px 0 10px 10px;
    font-style: oblique;
    font-weight: bold;
    color: #fff;
    width: 100%;
    background-repeat: no-repeat;
    text-transform: uppercase;
    margin-bottom: -20px;
}

.cardsFeminina {
    width: 100%;
    margin: 0 auto;
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.card {
    width: 30%;
    text-align: center;
    font-style: oblique;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px 2px;
    border-radius: 0.9rem;
    margin-top: 40px;
    padding-bottom: 20px;
}
.card img {
    width: 100%;
    height: 350px;
    margin-top: -1px;
    border-radius: 0.9rem 0.9rem 0 0;
}

.cabecalho label {
    margin-right: 15px;
    font-style: oblique;
}

.card p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    line-height: 30px;
    font-style: oblique;
}

.cabecalho .filtro {
    width: 100%;
    z-index: 1000;
    font-weight: 900;
    text-align: end;
    margin-bottom: -66px;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    
}

.filtro select {
    height: 27px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    font-style: oblique;
    background: #222;
    color: #fff;
}

.filtro button {
    height: 27px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-style: oblique;
    background: #222;
    color: #fff;
}

.buttonfiltrar {
display: flex;
}

.card button {
    border-radius: 0.5rem;
    color: aliceblue;
    background-color: #222;
    cursor: pointer;
    font-weight: bold;
    font-style: oblique;
    width: 175px;
    height: 41px;
    font-size: 25px;
}