.formCadastro p {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.formCadastro {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: flex-end;
}

.formCadastro .cabecalho {
    width: 363px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.cabecalho h1{
    text-align: center;
    color: #222;
    font-style: oblique;
    font-weight: 800;
    font-size: 34px;
    z-index: 4;
    margin-left: 90px;
} 

.formCadastro .label {
    margin-right: 2px;
    text-align: center;
}

.formCadastro .input {
    width: 232px;
    border-radius: 5px;
    cursor: pointer;
}

#inputTel {
    width: 233px;
    border-radius: 5px;
    cursor: pointer;
}

.submit {
    margin-left: 149px;
    width: 239px;
    height: 30px;
    background: cadetblue;

    color: black;
    font-style: oblique;
    font-weight: bolder;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}