.container {
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
}

.container .imgBanner {
    width: 100%;
    margin-right: 2px;
}

.activeDotStyle {
    background-color: #009cff;
    width: 30;
}