.container {
    width: 100%;
    margin: 10px auto;

}

.main h1 {
    text-align: center;
    color: #222;
    font-style: oblique;
    font-weight: 800;
    text-decoration: none;
    font-size: 34px;
}

.container img {
    display: flex;
    width: 268px;
    height: 250px;
    
}

.grid { 
     
    
    margin-top: 46px;
}

.card {
    display: flex;
    justify-content: space-around;
       
}

.card2 {
    display: flex;
    justify-content: space-around;
}