.main {
    height: 100vh;
    font-style: oblique;
    text-align: center;
    height: 116px;
}

.main h1 {
    text-align: center;
    color: #222;
    font-style: oblique;
    font-weight: 800;
    text-decoration: none;
    font-size: 34px;
}

.cabecalho h2 {
    font-style: oblique;
    font-weight: bold;
    margin-top: 25px;
}

.checkbox{
    margin-right: 390px;
}

.cabecalho h3 {
    font-style: oblique;
    font-weight: bold;
    margin-top: 25px;
}

.cabecalho h4 {
    font-style: oblique;
    font-weight: bold;
    margin-top: 25px;
}

.roupas { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-style: oblique;
    font-weight: bold;
    margin-bottom: 0px;
    height: 33px;
    margin-left: 310px;
}

.roupas input {
    margin-left: 15px;
}

.cardsMasculina {
    max-width: 1440px;
    width: 100%;
    margin: 15px auto;
    display: flex;
    padding: 0.1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardsMasculina img{
    width: 350px;
    height: 350px;
    margin-top: 10px;
}

.card {
    width: 30%;
    text-align: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px 2px;
    border-radius: 0.9rem;
    margin-top: 30px;
}

.card img {
    width: 100%;
    height: 350px;
    margin-top: -1px;
    border-radius: 0.9rem 0.9rem 0 0;
}