.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.imagens  {
    width: 400px;
    height: 380px;
    margin-top: 0;
    border-radius: 1rem;
}


.title{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 38px;
    text-align: center;
}