.imagens  {
    width: 480px;
    height: 465px;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px 2px;
    margin-top: 30px;
}

.container img {
    height: 350px;
    border-radius: 1rem 1rem 0rem 0rem;
}
.container p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    line-height: 30px;
    font-style: oblique;
}