.container {
    border: 0.1rem solid #dedede;
    background-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 6px; 
    width: 390px;
    height: 390px;
}

.thumbnail {
    display: flex;
    width: 100%;
    height: 55%;    
    justify-content: center;
}

.infoContent{
    display: flex;
    flex-direction: column;
    padding:1rem ;    
    padding-bottom: 10rem;
}



    /* span {
        font-size: 18px;
    } */

    /* span:last-child {
        color: #7b7b7b;
        margin-top: 0.5rem;
        font-size: 14px;
    } */

/* .content img{
    width: 450px;   
}

.img {
    width: 346px;
    height: 374px;
    padding: 0.5rem;
} */


