.container {
    display: flex;
    width: 100%;
    background-color: #222;
    padding-top: 29px ;
    padding-bottom: 29px ;
    justify-content: space-around;
    align-items: center;
}

.navHome {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkPrincipal {
    display: flex;
    text-decoration: none;
    max-width: 1125px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 160px;
}

.linkPrincipal a {
    color: #FFFAFA;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: none;
    font-size: 22px;
}