.header {
    display: flex;
    /* justify-content: center;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    background-color: #222; 
    /* position: relative; */
}

.headerForm {
    text-align: center;
    font-size: 87px;
    color: #FFFAFA;
    margin-top: -40px;
}

.linkPrincipal {
    display: flex;
    justify-content: space-between;
    width: 49vw;
    margin: 0 auto;
    text-decoration: none;
    font-style: oblique;
    font-weight: bolder;
    margin-top: -40px;
    margin-right: 20px;
}

.linkPrincipal a {
    color: #FFFAFA;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: none;
    font-size: 22px;
}

.container {
    width: 1440px;
   margin: 0 auto;
   padding: 30px 0 40px 0;
}