.container { 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    color: #FFFAFA;
    text-align: center;
    font-style: oblique;
    background-color: #222;
    margin-top: 218px;
}

.rodape {
    display: flex;
    height: 211px;
    width: 1350PX;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    height: 36px;
    width: 105px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: auto;
}

.rodape div:nth-child(1) p {
    font-weight: bold;
}

.horario p:nth-child(1) {
    font-weight: 900;
}

.horario p:nth-child(2) {
    font-weight: bold;
}

.horario p:nth-child(3) {
    font-weight: bold;
}

.h2 {
    margin-top: 35px;
    text-align: end;
}

.links {
    line-height: 0;
    text-align-last: start;
    margin-bottom: 43px;
}

.links a {
    height: 10px;
    margin: 25px 8px;
    display: contents;
}

.whatsapp {
    height: 35px;
    width: 31px;
    margin: 6px;
    font-size: 35px;
    color: #25d366;
    height: 5px;
    z-index: 100;
}

.face {
    margin-top: 0px;
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    font-size: 35px;
    color: #385898;
    background-color: #FFFAFA;
}