.section {
    width: 1440px;
    height: auto;
}

 .imgBanners {
    width: 1440px;
    height: 537px;
}


.container {
    min-width: max-content;
    width: 100%;
}

.conainer .selected {
    width: min-content;
    width: 1440px;
}

 .banner {
    width: 100%;
}





