.section {
    width: 1440px;
    height: auto;
}

.container {
    min-width: max-content;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
} 

 .banner {
    width: 99vw;
    margin: 0 auto;
}



/* @media screen and (max-width: 1360px){
    max-width: 1360px;
    width: 100%;

} */