.container {
    width: 100%;
    margin: 0 auto;
}

.banner {
    width: 100%;
    margin: 0 auto;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    height: 500px;
}